.wrapper {
  position: relative !important;
  margin: 50px;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  background-image: url("../../public/imageLogin.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.wrapper .form-box.login {
  position: absolute;
  left: 0;
  transition: 0.8s;
  transform: translateX(0);
}
.wrapper .form-box.signup {
  position: absolute;
  right: 0;
  transition: 0.8s;
  transform: translateX(100%);
}
.wrapper .form-box.forgotpass {
  position: absolute;
  left: 20%;
  top: 15%;
  transition: 0.8s;
  transform: scale(0);
}
.wrapper.active .form-box.login {
  transition: 0.8s;
  transform: translateX(-100%);
}
.wrapper.active .form-box.signup {
  transition: 0.8s;
  transform: translateX(0);
}
.wrapper.active-forgotpass .form-box.login {
  transition: 0.8s;
  transform: translateX(-100%);
}
.wrapper.active-forgotpass .form-box.forgotpass {
  transition: 0.8s;
  transform: scale(1);
}

.form-box {
  border-radius: 20px;
  padding: 5px;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box.login,
.form-box.signup,
.form-box.forgotpass {
  display: block;
}

.form-box.forgotpass h2 {
  font-size: 1.5em;
  text-align: center;
  color: #f2d335;
}
.form-box h2 {
  font-size: 1.5rem;
  text-align: center;
  color: #f2d335;
}

.form-box.login .from__login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-box.signup .from__register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.form-box.forgotpass .from__forgotpass {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input__forgotpass__field {
  margin: 10px;
  width: 86%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.input__forgotpass {
  width: 100%;
}
.input__forgotpass__field .icon {
  position: absolute;
  right: 10px;
  z-index: 1000000;
  cursor: pointer;
}

.from__login .input__login__field {
  margin: 10px;
  width: 86%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.from__login .input__login__field .icon_email,
.from__login .input__login__field .icon_pass {
  position: absolute;
  right: 10px;
  z-index: 1000000;
  cursor: pointer;
}
.from__login .input__login__field .input__login {
  width: 100%;
}

.from__register .input__register__field {
  margin: 10px;
  width: 86%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.from__register .input__register__field .icon {
  position: absolute;
  right: 10px;
  z-index: 1000000;
  cursor: pointer;
}
.from__register .input__register__field .input__register {
  width: 100%;
}

.remember-forgot {
  width: 80%;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.remember-forgot .forgot-pass {
  border: none;
  text-decoration: underline;
}
.remember-forgot .forgot-pass:hover {
  cursor: pointer;
  color: blue;
}

.Btn {
  width: 200px;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  background-color: #f2d335;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  transition: all ease-in-out 0.5s;
}
.Btn:hover {
  transform: scale(1.1);
}

.login-register {
  display: flex;
  margin: 10px;
}
.register-link {
  border: none;
  text-decoration: underline;
  cursor: pointer;
}
.register-link:hover {
  color: #f2d335;
}

.signInwith {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
}
.signInwithGoogle,
.signInwithGitHub {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #797777;
  border-radius: 20px;
}

.login-forgotpass {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  width: 100%;
  color: black;
}
.forgotpass-link {
  color: black;
  margin: 10px 15px;
  text-decoration: underline;
  cursor: pointer;
}
.forgotpass-link:hover {
  color: #f2d335;
}
.input__register__field p {
  font-size: 1.5rem;
  font-weight: bold;
}

/* THÔNG BÁO KHI ĐĂNG KÝ----------------------------------------- */
.user-data {
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.error-message {
  color: red;
  font-size: 16px;
}

.success-message {
  color: green;
  font-size: 18px;
  font-weight: bold;
}
