.thanhtoan__container {
  background-color: #f0f0f0;
  height: 90vh;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thanhtoan__main {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 10px 0;
  background-color: white;
  border: 5px solid #ee4d2d;
}

/* thanhtoan__productlist */
.thanhtoan__productlist {
  width: 40%;
  display: flex;
  flex-direction: column;
  border-right: 5px solid #f0f0f0;
}
.thanhtoan__productlist__header {
  border-bottom: 5px solid #f0f0f0;
  height: 8%;
  padding: 0 10px;
}
.thanhtoan__productlist__header .thanhtoan__p {
  font-size: 1.2rem;
  font-weight: bolder;
}
.thanhtoan__productitem {
  height: 72%;
  border-bottom: 5px solid #f0f0f0;
  overflow-y: auto;
}
.thanhtoan__productitem .item__product {
  margin: 10px 0;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
}
.thanhtoan__productitem .item__product .item__product__info {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.item_name,
.item_price,
.item_count {
  margin: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item_name {
  font-weight: bold;
}
.icon_item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  margin-right: 5px;
}

.thanhtoan__price {
  height: 20%;
  display: flex;
  align-items: center;
}
.voucher__item {
  width: 50%;
}
.price__item {
  width: 50%;
}
.price__item .price__item__p {
  margin: 0;
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  justify-content: left;
  align-items: center;
}
.price__item .price__item__p .priceAnount {
  margin: 5px;
  color: #ee4d2d;
}
/* thanhtoan__info */
.thanhtoan__info {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.thanhtoan__diachi {
  height: 25%;
  margin: 0 50px;
  border-bottom: 5px solid #f0f0f0;
}
.thanhtoan__diachi {
  display: flex;
}
.thanhtoan__diachi .addressField {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  align-items: self-start;
  width: 70%;
}
.address,
.noaddress {
  font-weight: bold;
  text-align: left;
}
.thanhtoan__note {
  display: flex;
  height: 35%;
  margin: 0 10px;
  border-bottom: 5px solid #f0f0f0;
}
.title__note {
  width: 10%;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
}
.note__area {
  margin: 10px;
  width: 90%;
  height: 90%;
}

.thanhtoan__pay {
  height: 40%;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}
.thanhtoan__pay__title {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
}

.thanhtoan__pay__method {
  width: 100%;
  display: flex;
  align-items: center;
}
.thanhtoan__pay__method__left {
  width: 50%;
  padding: 0 10px;
}
.thanhtoan__pay__method__right {
  width: 50%;
  padding: 0 10px;
}

#addressSelect {
  width: 80%;
}
